<tr>
  <td><%= image_tag motivator.image(:medium) %></td>
  <td><%= motivator.description %></td>
  <td><%= link_to 'Show', motivator_path(motivator) %></td>
  <% if current_user == motivator.user %>
  <td><%= link_to 'Edit', edit_motivator_path(motivator) %></td>
  <td><%= link_to 'Destroy', motivator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>



