<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <%= image_tag @motivator.image, class: "shimg" %>
      <p class="description">
        <%= @motivator.description %>
      </p>
      <p>
        <%= @motivator.user_name %>
      </p>
      <% if current_user == @motivator.user %>
          <%= link_to 'Edit', edit_motivator_path(@motivator) %> |
          <%= link_to 'Destroy', @motivator, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <% end %>
      <%= link_to 'Back', motivators_path %>

    </div>
  </div>
</div>

