<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <%= image_tag @motivator.image, class: "shimg" %>
      <p class="description">
        <%= @motivator.description %>
      </p>
      <p>
        <%= @motivator.user.name %>
      </p>
      <% if current_user == @motivator.user %>
          <%= link_to 'Edit', edit_motivator_path(@motivator) %> |
      <% end %>
      <%= link_to 'Back', motivators_path %>
    </div>
  </div>
</div>

