<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <%= link_to "Motivators", root_path, class: "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <%= link_to 'Home',  root_path %>
          </li>
          <li>
            <%= link_to 'About',  about_path %>
          </li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in?&&current_user.admin? %>
          <li><%=  link_to "Moderate",'#' %></li>
          <% end %>
          <% if user_signed_in? %>  <!--boolean test if a user is signed -->
              <li><%= link_to "Add +", new_motivator_path %><li>
              <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>  <!--then show edit profile link-->
              <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>   <!--then show logout link-->
          <% else %> <!-- if not -->
              <li><%= link_to 'Login',  new_user_session_path %></li>     <!--then return login link-->
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>